@*@model CaseManagement.ViewModels.Monitoring.MonitoringIndexViewModel*@

@{
    ViewData["Title"] = "Monitoring";
}

<style>
    #myTabContent {
        width: 97% !important;
    }

    th, td {
        font-size: 0.75rem;
    }
</style>

<ul class="nav nav-tabs mt-4 ml-2">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#inProcessTickets">In process tickets</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#waitingTickets">Waiting tickets</a>
    </li>
</ul>

<div id="myTabContent" class="tab-content ml-4">
    <div class="tab-pane fade active show mt-4" id="inProcessTickets">
        <div class="row">
            <table class="table table-hover border text-center">
                <thead>
                    <tr class="table-active">
                        <th class="padding02rem" scope="col">Last updated (IST)</th>
                        <th class="padding02rem" scope="col">Ticket ID</th>
                        <th class="padding02rem" scope="col">Reported date (UTC)</th>
                        <th class="padding02rem" scope="col">Priority</th>
                        <th class="padding02rem" scope="col">Status</th>
                        <th class="padding02rem" scope="col">Waiting reason</th>
                        <th class="padding02rem" scope="col">Subject</th>
                        <th class="padding02rem" scope="col">Processor</th>
                        <th class="padding02rem" scope="col">Changed by</th>
                        <th class="padding02rem" scope="col">Resume at (UTC)</th>
                        <th class="padding02rem" scope="col">Notes</th>
                    </tr>
                </thead>
                <tbody id="inProcessTicketsTable">
                </tbody>
            </table>
        </div>
    </div>

    <div class="tab-pane fade mt-4" id="waitingTickets">
        <div class="row">
            <table class="table table-hover border text-center">
                <thead>
                    <tr class="table-active">
                        <th class="padding02rem" scope="col">Last updated (IST)</th>
                        <th class="padding02rem" scope="col">Hold duration</th>
                        <th class="padding02rem" scope="col">Ticket ID</th>
                        <th class="padding02rem" scope="col">Reported date (UTC)</th>
                        <th class="padding02rem" scope="col">Priority</th>
                        <th class="padding02rem" scope="col">Status</th>
                        <th class="padding02rem" scope="col">Waiting reason</th>
                        <th class="padding02rem" scope="col">Subject</th>
                        <th class="padding02rem" scope="col">Processor</th>
                        <th class="padding02rem" scope="col">Changed by</th>
                        <th class="padding02rem" scope="col">Resume at (UTC)</th>
                        <th class="padding02rem" scope="col">Notes</th>
                    </tr>
                </thead>
                <tbody id="waitingTicketsTable">
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts{
    <partial name="InProcessTicketsTableHandlerJsPartial" />
    <partial name="WaitingTicketsTableHandlerJsPartial" />
    <partial name="RefreshTablesDataJsPartial" />
}